
<head>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
</head>

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dfdfe1;
  font-size: 10px;
}

.container {
  margin: 20px auto;
  width: 90%;
}

.baku {
  width: 50px;
  margin: 10px 10px 0 0;
  padding: 100px;
  background-image: url(../images/baku.jpg);
  background-size: cover;
  position: relative;
  display: inline-block;
}

.london {
  width: 50px;
  margin: 10px 10px 0 0;
  padding: 100px;
  background-image: url(../images/london.png);
  background-size: cover;
  position: relative;
  display: inline-block;
}

.madrid {
  width: 50px;
  margin: 10px 10px 0 0;
  padding: 100px;
  background-image: url(../images/madrid.jpg);
  background-size: cover;
  position: relative;
  display: inline-block;
}

.rome {
  width: 50px;
  margin: 10px 10px 0 0;
  padding: 100px;
  background-image: url(../images/rome.jpg);
  background-size: cover;
  position: relative;
  display: inline-block;
}

.header h1 {
  font-size: 180%;
  font-family: sans-serif;
  font-variant: small-caps;
  letter-spacing: 2px;
  width: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

h1 {
  font-size: 180%;
  float: left;
}

@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }
}

@media screen and (min-width: 991px){
   div {
    margin: 1%;
    width: 24%;
  }
}
